
*
{
    margin: 0px;
}
h1{
    background-color: orangered;
    margin: 20px;
    padding: 10px;
    border: 10px solid green;
    border-radius: 10px;
}
p{
    background-color:blue;
    color: white;
    margin-bottom: -200px;
    margin: 20px;
    padding: 10px;
    border: 10px solid orangered;
    border-radius: 50%;
}