/* #first
{
    color: red;
    background: lightcyan;
}
#second
{
    color: aqua;
    background: lightgray;
}
#third
{
    color: aqua;
    background: lightpink;
} */





/* USAGE OF RGB */





/* #first
{
    color: rgb(255, 0, 0);
    background: rgb(22,45,100)
}
#second
{
    color: rgb(0, 0 ,255);
    background: rgb(255, 255, 255);
}
#third
{
    color: rgb(0,255,0);
    background:rgb(0, 0, 0);
}
body
{
    background-color: lightcoral;
} */





/* RGBA */



/* #first {
    color: rgb(0,0,255);
    background: rgba(0, 0 ,0, 0.5);
}
#second
{
    color: rgb(30, 220 ,24);
    background: rgba(0, 0, 0, 0.5);
}
#third
{
    color: rgb(200,20,10);
    background:rgba(0, 0, 0,0);
}
#four
{
    color: rgb(10,230,68);
    background:rgba(0, 0, 0,1);
}
body
{
    background: rgba(20, 230, 150, 2 );
} */





/* HEX values #RRGGBB */

#first {
    color: #ff0000;
    background: #000000;
}
#second
{
    color: #00ff00;
    background: #fff;
}
body
{
    background-color: #0000ff;
}
#third
{
    color: rgb(200,20,10);
    background:rgba(0, 0, 0,0);
}


