h1
{
    font-size: 33px;
    color: red;
    background: black;
   min-height: 100px;

}
h2
{
    font-size: 23px;
    color:blue;
    background: black;
   max-height: 500px;

}
h3
{
    font-size: 43px;
    color: green;
    background: black;
   min-width: 383px;

}
h4
{
    font-size: 53px;
    color: greenyellow;
    background: black;
   max-width: 478px;

}